[Desktop Entry]
Version=1.0
Name=sK1 illustration program
Name[ru]=Редактор векторной графики sK1
Name[uk]=Редактор векторної графіки sK1
Name[en_GB]=sK1 illustration program
Name[en_US@piglatin]=sK1 illustration program
Name[zh_TW]=向量素描筆
Name[pt_BR]=Aplicativo de desenho sK1
GenericName=Vector Graphics Editor
GenericName[ru]=Редактор векторной графики
GenericName[uk]=Редактор векторної графіки
GenericName[en_GB]=Illustration program
GenericName[en_US@piglatin]=Illustration program
GenericName[pt_BR]=Editor de gráficos vetoriais
X-GNOME-FullName=sK1 illustration program
X-GNOME-FullName[ru]=Редактор векторной графики sK1
X-GNOME-FullName[uk]=Редактор векторної графіки sK1
X-GNOME-FullName[en_GB]=sK1 illustration program
X-GNOME-FullName[en_US@piglatin]=sK1 illustration program
X-GNOME-FullName[pt_BR]=Aplicativo de desenho sK1
Comment=Create and edit multipage documents for prepress
Comment[ru]=Редактор векторной графики для предпечатной подготовки
Comment[uk]=Редактор векторної графіки для підготовки до друку
Comment[en_GB]=Create and edit multipage documents for prepress
Comment[en_US@piglatin]=Create and edit multipage documents for prepress
Comment[zh_TW]=sK1 建立與編輯多頁文件的印前處理
Comment[pt_BR]=Crie e edite documentos de múltiplas páginas para pré-impressão
Type=Application
Categories=Graphics;
MimeType=image/x-xfig;image/x-wmf;image/x-skencil;image/x-eps;image/vnd.dxf;image/svg+xml;image/cgm;application/x-wine-extension-CMX;application/x-wine-extension-CDT;application/vnd.hp-hpgl;application/vnd.corel-draw;application/postscript;
Exec=sk1 %f
TryExec=sk1
Terminal=false
StartupNotify=true
Icon=sk1
