#! /usr/bin/python
#
# Wrapper script to start UniConvertor application
#
# Copyright (C) 2011-2015 Igor E. Novikov
#
# This library is covered by GNU Library General Public License.
# For more info see LICENSE file in UniConvertor root directory.

import sys

sys.path.insert(1, '$SK1_INSTALL_PATH')

import uc2

uc2.uc2_run()
